body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.todo_list {
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    border-radius: 10px;
    border: black 4px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(58, 145, 236, 0.16);
}

.name {
    font-size: 48px;
    margin: 50px auto;
    font-family: 'Raleway', sans-serif;
}

.input_field {
    border-radius: 10px;
    margin: 0 auto 20px;
    min-width: 80%;
    background-color: rgba(58, 145, 236, 0.22);
    display: flex;
    justify-content: center;
    border: black 2px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);


}

.input_field input {
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin: 30px;
    color: #4d4d4d;
    height: 30px;
    padding: 0 20px;
    width: 80%;
}

.input_field input:focus {
    outline: none;
}

.input_field input::placeholder {
    color: lightslategray;
}

.input_field button {
    background-color: rgba(58, 145, 236, 0.22);
    margin-left: 50px;
    margin-top: 32px;
    color: black;
    width: 100px;
    max-height: 30px;
    align-items: center;
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

.tasks {
<<<<<<< HEAD
    width: 80%;
    margin: 0 auto;
=======
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
>>>>>>> origin/main
    display: flex;
    flex-direction: column;
}

.task {
    background-color: rgba(58, 129, 236, 0.58);
    border-radius: 10px;
    width: 100%;
    border: black 2px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
}

.task_text {
    width: 50%;
    display: flex;
    justify-content: center;

}

.operators {
    width: 50%;
    margin: auto 20px;
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    align-items: center;
    justify-content: center;
}

=======
}
>>>>>>> origin/main
.operators button {
    background-color: rgba(58, 145, 236, 0.22);
    margin-left: 10px;
    color: black;
<<<<<<< HEAD
=======
    width: 100px;
>>>>>>> origin/main
    max-height: 30px;
    align-items: center;
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


.task_text p {
    word-break: break-all;
    margin-left: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
<<<<<<< HEAD

.completed {
    text-decoration: line-through;
    color: #5C6672;
}

=======
>>>>>>> origin/main
.edit {
    background-color: rgba(58, 129, 236, 0.58);
    border-radius: 10px;
    width: 100%;
    border: black 2px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
}

.edit_text {
    width: 50%;
    display: flex;
    justify-content: center;
    word-break: break-all;
    margin-left: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.operators {
    width: 50%;
    margin: auto 20px;
    display: flex;
    flex-direction: row;
}
<<<<<<< HEAD

=======
>>>>>>> origin/main
.operators button {
    background-color: rgba(58, 145, 236, 0.22);
    margin-left: 10px;
    color: black;
    padding: 10px;
    width: 100px;
    max-height: 30px;
    align-items: center;
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}
<<<<<<< HEAD

.checkbox {
    width: 20px !important;
    height: 20px !important;
}

=======
>>>>>>> origin/main
.edit input {
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    color: #4d4d4d;
    height: 30px;
    padding: 0 20px;
    width: 48%;
}

.edit input:focus {
    outline: none;
}

.edit input::placeholder {
    color: lightslategray;
}
<<<<<<< HEAD

.hidden {
    display: none;
}

.hide_button {
    visibility: hidden;
}

.active {
    display: flex;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #337AB7FF transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error {
    display: flex;
    justify-content: center;
    background-color: #f6d6d9;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto 20px;
    border: 2px solid black;
    padding: 5px 10px;
}
.error span {
    color: #721c24;
}

@media (max-width: 1200px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 950px) {
    .container {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
=======
.hidden {
    display: none;
}
.active {
    display: flex;
}
>>>>>>> origin/main
